spring:
  config:
    import: optional:file:.env.${spring.profiles.active}[.properties]
  application:
    name: notification-service
  flyway:
    enabled: false
  jpa:
    open-in-view: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: validate

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:admin}
    password: ${RABBITMQ_PASSWORD}
    listener:
      simple:
        acknowledge-mode: manual

server:
  port: 8081
  tomcat:
    max-http-form-post-size: 10MB
  servlet:
    encoding:
      force-response: true

logging:
  level:
    io.swkoreatech.kosp: INFO
    org.springframework.amqp: DEBUG
