spring:
  config:
    import: optional:file:.env[.properties]
  web:
    resources:
      add-mappings: false
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  jpa:
    open-in-view: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: validate
  thymeleaf:
    prefix: "classpath:/mail/"
    suffix: ".html"
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
  security:
    oauth2:
      client:
        registration:
          github:
            client-name: Github
            authorization-grant-type: authorization_code
            scope: read:user, user:email, repo
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      port: ${REDIS_PORT}
      host: ${REDIS_HOST}
      password: ${REDIS_PASSWORD}
      lettuce:
        pool:
          max-active: 20
          max-idle: 10
          min-idle: 5
          max-wait: 2000ms
    mongodb:
      host: ${MONGODB_HOST}
      port: ${MONGODB_PORT}
      database: ${MONGODB_DATABASE}
      auto-index-creation: false
      uuid-representation: standard

encryption:
  password: ${ENCRYPTION_PASSWORD}
  salt: ${ENCRYPTION_SALT}

aws:
  access-key: ${AWS_ACCESS_KEY}
  secret-key: ${AWS_SECRET_KEY}
  region: ${AWS_REGION}
  s3:
    bucket: ${AWS_S3_BUCKET}
    custom_domain: ${AWS_S3_CUSTOM_DOMAIN}

jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration:
    access: ${JWT_EXPIRATION_ACCESS}
    refresh: ${JWT_EXPIRATION_REFRESH}
    signup: ${JWT_EXPIRATION_SIGNUP}

cors:
  allowed-origins:
    - "*"

server:
  tomcat:
    max-http-form-post-size: 10MB
  servlet:
    encoding:
      force-response: true

logging:
  level:
    org:
      springframework:
        transaction: DEBUG
        orm.jpa.JpaTransactionManager: DEBUG
        security: DEBUG
      hibernate:
        engine:
          transaction:
            internal: DEBUG
        type:
          descriptor:
            sql: trace
