services:
  nginx:
    build: .
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${NGINX_VOLUME_PATH}:/etc/nginx/conf.d
      - ${CERTBOT_VOLUME_PATH}/certbot/conf:/etc/letsencrypt
      - ${CERTBOT_VOLUME_PATH}/certbot/www:/var/www/certbot
    extra_hosts:
      - "host.docker.internal:host-gateway"
