services:
  harvester:
    build:
      dockerfile: harvester/Dockerfile
    container_name: kosp-harvester
    env_file:
      - .env
    restart: unless-stopped

  challenge-service:
    build:
      dockerfile: challenge-service/Dockerfile
    container_name: kosp-challenge-service
    env_file:
      - .env
    restart: unless-stopped
