<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mail/layout :: layout('KOSP 이메일 인증', '이메일 인증 코드', ~{::div})}">
<body>
<div>
    요청하신 인증 코드는 아래와 같습니다.<br><br>

    <div style="background-color: #111827;
                border-radius: 8px;
                color: white;
                padding: 10px 16px;
                display: inline-block;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 5px;">
        <span th:text="${code}">123456</span>
    </div>

    <br>
    본 인증 코드는 <b>5분간</b>만 유효합니다.
</div>
</body>
</html>
