<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout('KOSP 비밀번호 변경 인증', '계정 비밀번호 변경 인증', ~{::div})}">
<body>
<div>
    비밀번호를 변경하려면 아래 버튼을 클릭하세요.<br><br>

    <a style="background-color: #111827;
            border: none;
            border-radius: 8px;
            color: white;
            padding: 10px 16px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;"
       class="btn"
       th:href="@{|${contextPath}/password-reset?token=${resetToken}|}"><b>비밀번호
        변경하기</b></a>
</div>
</body>
</html>
